* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
  background-color: rgb(91, 215, 224);
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(91, 215, 224);
  color: white;
}

.nav-left {
  width: 100vw;
  padding-left: 15px;
  font-size: 2rem;
}

.nav-right {
  display: flex;
  width: 100vw;
  max-width: 190px;
  justify-content: space-between;
  padding-right: 15px;
  font-size: 1.3rem;
}

.nav-right > div {
  cursor: pointer;
}

.sidebar-container {
  background-color: rgb(91, 215, 224);
  display: flex;
  flex-direction: column;
  padding: 70px 0 0 10px;
  width: 115px;
  min-height: 100vh;
  gap: 10px;
}

li {
  cursor: pointer;
  padding: 10px 10px 10px 20px;
  list-style: none;
}

.main {
  display: flex;
  min-height: 100vh;
}

.display {
  font-size: 1.6rem;
  padding: 40px 0 0 50px;
  background-color: rgb(183, 246, 250);
  flex: 1;
  min-height: 100vh;
  border-radius: 50px 0 0 0;
  border: solid white 5px;
}

.active {
  background-color: rgb(183, 246, 250);
  border-radius: 20px 0 0 20px;
}

.modal {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.45);
  border: red;
}

.modal-content {
  background-color: aliceblue;
  padding: 25px;
  margin-bottom: 50vh;
  border-radius: 15px;
  /* position: absolute; */
}

.modal-content button {
  text-align: center;
  margin-left: 20px;
}

.scale-in-center {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
