* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
  background-color: rgb(183, 246, 250);
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(91, 215, 224);
}

.nav-left {
  width: 100vw;
  padding-left: 15px;
  font-size: 2rem;
}

.nav-right {
  display: flex;
  width: 100vw;
  max-width: 190px;
  justify-content: space-between;
  padding-right: 15px;
  font-size: 1.3rem;
}

.nav-right > div {
  cursor: pointer;
}

.sidebar-container {
  background-color: rgb(91, 215, 224);
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 20px;
  width: 115px;
  height: 100vw;
  gap: 10px;
  cursor: pointer;
}
